body{
    background-color: rgb(218, 10, 10);
    color: rgb(255, 255, 255);
}


.p1 {
    font-family: 'Asset';font-size: 70px;
  }

  *{margin:0;padding:0;}
  .wrap{width:100%;}
  .gradient-text{
    background: linear-gradient(to right, rgb(255, 24, 24),rgb(235, 0, 0),rgb(75, 0, 0));
    font-family: 'Asset';font-size: 70px;
    background-size: 200% 200%;
    animation: rainbow 3s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgb(255, 255, 255);
    font-size:150px;
    display:block;
    text-align:center;
    transition: color .2s ease-in-out;
    text-transform:uppercase;
    font-weight:900;
  }
  .gradient-text:hover{
    color:rgba(0,0,0,0);
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }


  .p2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .p3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
  }


